<section class="top-banner">
    <div class="first-banner">
        <p><i>*PRODUTO PRINCIPAL IMAGE*</i></p>
    </div>
    <div class="top-banner-principal-product">
        <div class="principal-product-logo">
            <h1 class="logo"><i>Soft Clever LOGO (img)</i></h1>
        </div>
        <div class="principal-product-title">
            <h1 class="product-title">Soluções sem limites</h1>
        </div>
        <div class="principal-product-effect-phrase">
            <p>Ao seu lado <strong>desde 1994</strong>.</p>
        </div>
    </div>
    <div class="top-banner-buttons">
        <button type="button" class="left-button">
            <a href="/" class="button-link">
                Cadastrar
            </a>
        </button>
        <button type="button" class="right-button">
            <a href="/" class="button-link">
                Ver mais
            </a>
        </button>
    </div>
</section>