<section class="top-banner">
    <div class="first-banner">
        <img class="banner" src="assets/images/webp/top-banner-women-background-1920x1080.webp" type="image/webp">
    </div>
    <div class="top-banner-principal-product">
        <div class="principal-product-title">
            <h1 class="product-title">SOLUÇÕES SEM LIMITES</h1>
        </div>
        <div class="principal-product-effect-phrase">
            <p>Ao seu lado <strong>desde 1994</strong>.</p>
        </div>
    </div>
    <div class="top-banner-buttons">
        <button type="button" class="left-button">
            <a href="/" class="button-link">
                Cadastrar
            </a>
        </button>
        <button type="button" class="right-button">
            <a href="/" class="button-link">
                Ver mais
            </a>
        </button>
    </div>
</section>