<footer>
    <nav class="footer-sections" aria-label="Soft Clever Directory" role="navigation">
        <div class="the-soft-clever">
            <label for="footer-group">
                <h2 class="footer-header">A Soft Clever</h2>
            </label>
            <ul class="footer-list">
                <li class="footer-item">
                    <a class="footer-link" href="/#">Sobre Nós</a>
                </li>
                <li class="footer-item">
                    <a class="footer-link" href="/#">Blog</a>
                </li>
                <li class="footer-item">
                    <a class="footer-link" href="/#">Trabalhe conosco</a>
                </li>
                <li class="footer-item">
                    <a class="footer-link" href="/#">Seja um parceiro</a>
                </li>
            </ul>
        </div>
        <div class="support">
            <label for="footer-group">
                <h2 class="footer-header">Suporte</h2>
            </label>
            <ul class="footer-list">
                <li class="footer-item">
                    <a class="footer-link" href="/#">Vídeos</a>
                </li>
                <li class="footer-item">
                    <a class="footer-link" href="/#">Central de Ajuda</a>
                </li>
                <li class="footer-item">
                    <a class="footer-link" href="/#">FAQ</a>
                </li>
                <li class="footer-item">
                    <a class="footer-link" href="/#">Entre em contato</a>
                </li>
            </ul>
        </div>
        <div class="support">
            <label for="footer-group">
                <h2 class="footer-header">Nossas soluções</h2>
            </label>
            <ul class="footer-list">
                <li class="footer-item">
                    <a class="footer-link" href="/#">SIRIUS</a>
                </li>
                <li class="footer-item">
                    <a class="footer-link" href="/#">Personalizado</a>
                </li>
            </ul>
        </div>
        <div class="Legal">
            <label for="footer-group">
                <h2 class="footer-header">Legal</h2> <!-- (PARA PREENCHER VEJA O FOOTER DO SITE <a class="footer-link" href="https://vercel.com/dashboard">https://vercel.com/dashboard</a>-->
            </label>
            <ul class="footer-list">
                <li class="footer-item">
                    <a class="footer-link" href="/#">Política de Privacidade</a>
                </li>
                <li class="footer-item">
                    <a class="footer-link" href="/#">Termos de Serviço</a>
                </li>
                <li class="footer-item">
                    <a class="footer-link" href="/#">Termos de Uso</a>
                </li>
                <li class="footer-item">
                    <a class="footer-link" href="/#">Termos de Suporte</a>
                </li>
                <li class="footer-item">
                    <a class="footer-link" href="/#">Preferência de Cookies</a>
                </li>
                <li class="footer-item">
                    <a class="footer-link" href="/#">DMCA</a>
                </li>
                <li class="footer-item">
                    <a class="footer-link" href="/#">SLA</a>
                </li>
            </ul>
        </div>
    </nav>
    <section class="footer-last-line-container">
        <span class="footer-last-line-content">
            <p>Soft Clever Informática ERP&reg; |</p>
            <p>Desenvolvedor: <a class="footer-link" href="https://github.com/GabrielToth">Gabriel Toth Gonçalves</a> </p>
        </span>
    </section>
</footer>