<footer>
    <nav class="footer-sections" aria-label="Soft Clever Directory" role="navigation">
        <div class="the-soft-clever">
            <label for="footer-group">
                <h2 class="footer-header">A Soft Clever</h2>
            </label>
            <ul class="footer-list">
                <li class="footer-item">
                    <a href="/#">Sobre Nós</a>
                </li>
                <li class="footer-item">
                    <a href="/#">Blog</a>
                </li>
                <li class="footer-item">
                    <a href="/#">Trabalhe conosco</a>
                </li>
                <li class="footer-item">
                    <a href="/#">Seja um parceiro</a>
                </li>
            </ul>
        </div>
        <div class="support">
            <label for="footer-group">
                <h2 class="footer-header">Suporte</h2>
            </label>
            <ul class="footer-list">
                <li class="footer-item">
                    <a href="/#">Vídeos</a>
                </li>
                <li class="footer-item">
                    <a href="/#">Central de Ajuda</a>
                </li>
                <li class="footer-item">
                    <a href="/#">FAQ</a>
                </li>
                <li class="footer-item">
                    <a href="/#">Entre em contato</a>
                </li>
            </ul>
        </div>
        <div class="support">
            <label for="footer-group">
                <h2 class="footer-header">Nossas soluções</h2>
            </label>
            <ul class="footer-list">
                <li class="footer-item">
                    <a href="/#">SIRIUS</a>
                </li>
                <li class="footer-item">
                    <a href="/#">Personalizado</a>
                </li>
            </ul>
        </div>
        <div class="Legal">
            <label for="footer-group">
                <h2 class="footer-header">Legal (PARA PREENCHER VEJA O FOOTER DO SITE <a href="https://vercel.com/dashboard">https://vercel.com/dashboard</a></h2>
            </label>
            <ul class="footer-list">
                <li class="footer-item">
                    <a href="/#">Política de Privacidade</a>
                </li>
                <li class="footer-item">
                    <a href="/#">Termos de Serviço</a>
                </li>
                <li class="footer-item">
                    <a href="/#">Termos de Uso</a>
                </li>
                <li class="footer-item">
                    <a href="/#">Termos de Suporte</a>
                </li>
                <li class="footer-item">
                    <a href="/#">Preferência de Cookies</a>
                </li>
                <li class="footer-item">
                    <a href="/#">DMCA</a>
                </li>
                <li class="footer-item">
                    <a href="/#">SLA</a>
                </li>
            </ul>
        </div>
    </nav>
    <section class="footer-last-line">
        <span>
            <p>Soft Clever Informática ERP&reg; | </p>
            <p>Desenvolvedor: <a href="https://github.com/GabrielToth">Gabriel Toth Gonçalves</a> </p>
        </span>
    </section>
</footer>